<div class="container-fluid">
  <div class="row">
    <div class="sidebar col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item" routerLinkActive="active">
          <h3><a class="nav-link" routerLink="/list">Products</a></h3>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <h3><a class="nav-link" routerLink="/about">About</a></h3>
        </li>
      </ul>
    </div>
    <div class="main col-md-9">
      <mat-card-header>
        <h3><b>About</b></h3>
      </mat-card-header>
      <mat-card>
        <mat-card-content>
          <div>
            <h3>Provision Store Project Documentation</h3>
            <ol>
              <li>
                Create Angular Application using command
                <ul>
                  <li>ng new provision-store</li>
                </ul>
              </li>
              <li>
                Create Components using command
                <ul>
                  <li>ng g c login</li>
                  <li>ng g c home</li>
                  <li>ng g c product-list</li>
                  <li>ng g c about</li>
                </ul>
              </li>
              <li>Routing Setup</li>
              <ul>
                <li>Update app-routing.module.ts</li>
              </ul>
              <li>
                Favicon Integration
                <ul>
                  <li>favicon.ico: Favicon image.</li>
                </ul>
              </li>
              <li>Fetching Data</li>
              <li>
                Convert a password into SHA256 format usin npm
                <ul>
                  <li>npm install crypto-js --save</li>
                </ul>
              </li>
              <li>
                Difficulties Faced
                <ul>
                  <li>Token Handling</li>
                </ul>
              </li>
            </ol>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
